.items,
.status-false,
.status-true {
  display: inline-flex;
}
.items {
  font-size: 23px;
}
.mission li {
  position: relative;
  /* font-family: "微軟正黑體"; */
}
.mission {
  position: relative;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
}
.status-false,
.status-true {
  position: relative;
  border-radius: 3px;
  font-size: 16px;
  margin: 0 8px 0 10px;
  padding: 0 2px;
  bottom: 3px;
  cursor: pointer;
}
.status-false {
  color: red;
  background-color: #ffd2d2;
  border: 1px solid red;
}
.status-true {
  color: green;
  background-color: #dfffdf;
  border: 1px solid green;
}
.delete {
  display: inline-flex;
  position: relative;
  margin-left: 5px;
  border: 1px solid red;
  width: 22px;
  height: 22px;
  background-color: red;
  top: 3px;
  border-radius: 4px;
  cursor: pointer;
}
.delete svg {
  position: relative;
  fill: #fff;
  left: 1px;
  top: 1px;
}
body {
  background-color: #c7ebc7;
}
.add-div {
  position: relative;
}
.add-div input {
  border-radius: 4px;
  border: 1px solid #b0bec5;
  color: #333;
}
.add-div input[type="text"]:focus {
  border-color: #0b0;
  outline: none;
}
.add {
  display: inline-flex;
  position: relative;
  margin-left: 5px;
  border: 1px solid #42b983;
  width: 23px;
  height: 23px;
  background-color: #42b983;
  top: 8px;
  border-radius: 4px;
  cursor: pointer;
}
input {
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
}
.add svg {
  position: relative;
  left: 2px;
  top: 2px;
  fill: #fff;
}
p {
  font-size: 24px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
